PORT=1459
JWT_SECRET=replace-with-a-strong-secret
DATABASE_URL="postgresql://postgres.hiburdqpgiobmqfrezjv:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres?schema=public&sslmode=require"
DIRECT_DATABASE_URL="postgresql://postgres.hiburdqpgiobmqfrezjv:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres?schema=public&sslmode=require"
